.algo-machine__container{
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}

.algo-machine__header{
    padding: 10px;
    background-color: #F4F4F4;
    border-radius: 5px;
    display: inline-block;
}
.exgausters{
    display: flex;
    gap: 10px;
}